button#red {
  background-color: red;
}
button#orange {
  background-color: orange;
}
button#yellow {
  background-color: yellow;
}
button#green {
  background-color: green;
  color: white;
}
button#cyan {
  background-color: cyan;
}
button#blue {
  background-color: blue;
  color: white;
}
button#purple {
  background-color: purple;
  color: white;
}
