#red {
  background-color: red;
}
#orange {
  background-color: orange;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
  color: white;
}
#cyan {
  background-color: cyan;
}
#blue {
  background-color: blue;
  color: white;
}
#purple {
  background-color: purple;
  color: white;
}
